body {
  background-color: #f8f9fa75;
}
main{
  padding: 50px;
}
@media (max-width: 768px) {
  #nav {
    display: none;
  }
}
.navbar {
  margin-bottom: 20px;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}
.disco {
  list-style-type: disc;
  margin-left: 20px;
}
.img {
  width: 100%;
  height: auto;
  border-radius: 70%;
}
#grid-nav li{
    padding: 10px;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: blue;
  border-bottom: 2px solid blue;
}